/* Main Styles */

* {
	user-select: none;
}

body {
	margin: 0;
	font-family: "Ubuntu", "Helvetica Neue", sans-serif;
	background-color: #0d0b1a;
	color: white;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.title {
	font-size: 4rem;
	margin: 0;
	text-align: center;
	color: #ffffff;
}

/* Card Styles */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background-color: #15122a;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	padding: 0;
	margin: 1rem;
	width: 20rem;
	height: 24rem;
	border: solid 4px #00000000;
}

.card p {
	margin: 10px;
}

.card:hover {
	border: solid 4px #ffffff;
	transition: border-color 0.5s ease;
}

.card img {
	width: 100%;
	height: 10rem;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card .content {
	flex-grow: 1;
	width: 100%;
	padding: 0.5rem;
	text-align: center;
}

b {
	font-weight: bold;
}

.h2Bold {
	font-weight: 1000;
}

.h2NotBold {
	font-weight: 500;
}

/* Download Button Styles */

.downloadButton {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 5px 50px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.downloadButton:hover {
	background-color: #0056b3;
}

/* Top Button Styles */

.topButton {
	--topButtonSize: 100px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: var(--topButtonSize);
	width: var(--topButtonSize);
	border: solid 2px #ffffff;
	border-radius: 50%;
	background-color: #0d0b1a;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	transition: border-color 0.3s ease, color 0.3s ease;
}

.topButton:hover {
	border-color: #bebebe;
	color: #bebebe;
}

/* Search Bar Styles */

.searchBar {
	border: none;
	outline: none;
	font-size: 1.5rem;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 5px;
	width: 26.5rem;
}

.clearButton {
	background-color: #ffffff;
	color: #000000;
	border: none;
	padding: 5px 50px;
	border-radius: 10px;
	cursor: pointer;
	font-size: larger;
	height: 50px;
	transition: background-color 0.3s ease;
}

.clearButton:hover {
	background-color: #c9c9c9;
}

.searchBarContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
